.text {
    width: 45vw;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-top: 2em;
    margin-bottom: 1.5em;
}
.flex {
    display: flex;
    padding-bottom: 0;
}
.card {
    width: 10.5em;
    margin: 1em 1em 1em 0;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid black;
    font-size: 1.25vw;
    font-weight: 400;
    padding-bottom: 0;
}
.cardColor {
    height: 10.5em;
    width: 10.5em;
    background-color: #E7F3F5
}
.cardIcon {
    margin-left: auto;
    margin-top: -1em;
    color: black;
}
.cardText {
    font-size: 1.25vw;
}