.inputs {
    margin: 2em;
    margin-left: 0;
}
.addButton {
    margin-left: 2em;
    margin-top: 0.7em;
}
.selects {
    width: 15em;
    margin: 2em;
    margin-left: 0;
    /* display: block; */
}
.chips {
    width: 20em;
}
 