.header {
    display: flex;
    flex-direction: row;
    margin-bottom: 5em;
    justify-content: space-between;
  }
  .header__text {
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
    text-decoration: none;
    color: #000000;
  }
  .header__main {
    margin-right: 2em;
  }
  .header__login {
    margin-left: auto;
  }
  .box{
    width: 350px;
  }
  