.pic {
    width: 70%;
    height: 60vh;
    margin-bottom: 2vh;
    background-color: #00949A;
    display:inline-block;
}
.floater {
    /* width: 100%; */
    font-size: 2.2vw;
    font-weight: 400;
    position: absolute;
    bottom: 1.9em;
    height: 8.5em;
}
.left_box {
    background-color: #383941;
    width: 30.5em;
    height: 100%;
    font-size: 1em;
    font-weight: 400;
    float: left;
}
.right_box {
    background-color: #22BEC5;
    width: 11.5em;
    height: 100%;
    font-size: 1em;
    font-weight: 400;
    float: left;
}
.left_header {
    font-size: 1em;
    font-weight: 400;
    color: white;
    width: 19em;
    padding-left: 2.125em;
    padding-top: 1.5em;
}
.right_header {
    font-size: 1em;
    font-weight: 400;
    color: white;
    width: 8em;
    padding-left: 2.125em;
    padding-top: 1.5em;
}
.ArrowIcon {
    width: 30em;
}